@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

body {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    flex-wrap: wrap;
}
.home {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.home:hover {
    cursor: pointer;
}
.logo {
    background-image: url('../assets/logo.png');
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
h1,
.about p span {
    font-size: 64px;
    font-family: 'DynaPuff', sans-serif;
    background: linear-gradient(#250707, #b72828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
nav {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    align-items: flex-end;
}
nav h2:hover {
    cursor: pointer;
}
h2 {
    font-family: 'DynaPuff', sans-serif;
    font-weight: 300;
    text-align: center;
}


main {
    padding: 2rem;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.hero-text {
    font-size: 3.2rem;
    width: max(30rem, 30%);
    background: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    font-family: 'DynaPuff', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.samples {
    width: max(30rem, 30%);
    height: 20rem;
    background: url(../assets/samples.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-right: 2rem;
}

.about h2 {
    font-size: 2rem;
}
.about > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about > div > div {
    width: max(20rem, 50%);
    font-size: 1.2rem;
    padding: 0 1rem;
}
.about p span {
    font-size: 1.2rem;
}
.about img {
    width: max(15rem, 30%);
}

.menus {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
    justify-items: center;
    padding: 1rem;
}
.card {
    width: 18rem;
    min-height: 12rem;
    border-radius: 1rem; 
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    position: relative;
}
.card h3 {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    font-family: 'DynaPuff', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 100;
}
.description {
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-right: 40%;
}
.item-photo {
    --size: 8rem;
    width: var(--size);
    height: var(--size);
    outline: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: calc(100% - var(--size) + 1rem);
    left: calc(100% - var(--size) + 1rem);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.location {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe {
    height: 400px;
    width: max(400px, 50%);
    border: none;
}
.links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}